#root {
  min-height: 100vh;
  min-width: 100vw;
}


body::before {
        content: 'XS';
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 30px;
        color: red;
      }

      @media (width < 576px) {
        body::before { content: 'XS';}
      }
      @media (width >= 576px ) {
        body::before { content: 'SM';}
      }
      @media (width >= 768px) {
        body::before { content: 'MD';}
      }
      @media (width >= 992px) {
        body::before { content: 'LG';}
      }
      @media (width >= 1200px) {
        body::before { content: 'XL';}
      }
      @media (width >= 1400px) {
        body::before { content: 'XXL';}
      }